@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Osmathus wine taste the same I remember but are those who share the memory</h1>
    <p>Learn about <a href="https://genshin.hoyoverse.com/pt/">Genshin Impact</a>.</p>
    <img src= "https://i.pinimg.com/280x280_RS/b5/1d/a3/b51da30d09bb2b9fb745a96d0882b418.jpg" alt= "rogerio">
    
</div>
