@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Osmathus wine taste the same I remember but are those who share the memory</h1>
    <p>Learn about <a href="https://genshin.hoyoverse.com/pt/">Genshin Impact</a>.</p>
</div>
